<div class="row mt-4">
    <form [formGroup]="newPost" #formRef="ngForm" (ngSubmit)="guardar()" class="form-signin col-8">

        <!-- <div class="{{msg_d}} label-campos error-messages" id="user_invalid">
            {{msg_content}}
        </div> -->

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-file-font-fill"></i></span>
            </div>
            <input formControlName="titulo" class="form-control" placeholder="Titulo" type="text" required autofocus>
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-fonts"></i></span>
            </div>
            <input formControlName="descripcion" class="form-control" placeholder="Descripción" required autofocus>
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-file-person"></i></span>
            </div>
            <input formControlName="autor" class="form-control" placeholder="Autor" required autofocus>
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-image"></i></span>
            </div>
            <input type="url" formControlName="img_portada" class="form-control" placeholder="Imagen de portada" required autofocus>
        </div>

        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor
            [editor]="editor"
            [ngModel]="html"
            [disabled]="false"
            [placeholder]="'Type here...'"
            ></ngx-editor>
        </div>
        <div class="mt-4 text-center logeo">
            <button class="btn btn-lg btn-dark btn-block mb-2" type="submit">Guardar</button>
        </div>

    </form>

</div>