tr[class="collapsed"]:hover{
    cursor: pointer;
}

button[class="btn btn-primary"]{
    background-color: black;
    border-color: black;
    margin: 1%;
}

.cantidad{
    border-radius: 10px;
}

.tabla-interna{
    margin-bottom: 20px;
}