
<div class ="container">
    <header class="bg-dark">
        <div class="title text-center text-white">
            <h1 class ="fw-bolder display-4">Perfil</h1>
        </div> 
    </header>
    <div class="contenido">
        <div class="botones">
            <input class="btn btn-primary" type="button" value="Guardar información">
            <input class="btn btn-primary" type="button" value="Eliminar cuenta">
        </div>
        <div class="datos">
            <div class ="col-md-6">
                <label class="form-label text-dark" for="firstNameLabel">Nombre<span class="text-danger"></span></label>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                    </div>
                    <input class="form-control" id="firstNameLabel" placeholder="Nombres"
                        type="text">
                </div>
            </div>
            <div class ="col-md-6"> 
                <label class="form-label text-dark" for="lastNameLabel">Apellido<span class="text-danger"></span></label>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                    </div>
                    <input class="form-control" id="lastNameLabel" placeholder="Apellido"
                        type="text">
                </div>
            </div>
            <div class ="col-md-6">
                <label class="form-label text-dark" for="direccion">Direccion<span class="text-danger"></span></label>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                    </div>
                    <input class="form-control" id="direccion" placeholder="Direccion"
                        type="text">
                </div>
            </div>
            <div class ="col-md-6">
                <label class="form-label text-dark" for="telefono">Telefono<span class="text-danger"></span></label>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                    </div>
                    <input class="form-control" id="telefono" placeholder="Telefono"
                        type="text">
                </div>
            </div>
        </div>
    </div>
</div>