<div class="d-flex">
  <form>
    <h3 class="m-0 text-white">Contactanos</h3>
    <br>
    <label class="m-0 text-white">Nombre y apellido</label>
    <input type="text" name="nombre" id="nom">
    <br>
    <label class="m-0 text-white">Telefono</label>
    <input type="text" name="telefono" id="tel">
    <br>
    <label class="m-0 text-white">Fecha de nacimiento</label>
    <input type="date" name="nacimiento" id="nac">
    <br>
    <label for="so" class="m-0 text-white">Lugar de origen</label>
    <select name="so" id="so">
      <option value="HP">Guayaquil</option>
      <option value="Lenovo">Quito</option>
      <option value="Tablet">Cuenca</option>
    </select>
    <br>
    <label class="m-0 text-white">Envianos un mensaje</label>
    <br>
    <textarea cols="30" rows="6"></textarea>
    <br>
    <span class="boton">
      <button type="submit" name="registrar" id="registrar">Enviar</button>
    </span>
  </form>
</div>