.card-body{
    display:flex;
    justify-content: center;
}

.bi-person-circle{
    font-size: 50px;
}

.input-group-text{
    height: 47px;
}

.logeo{
    display: flex;
    flex-direction: column;
}