<html>
    <head></head>
    <body>
         <div class = 'd-flex justify-content-center center'>

                <h3>Gracias por preferir nuestros servicios {{nombre}}</h3> 
                <img width ="320px" src="../imagenes/logoByCoco.png" alt="">
                <p> 
                    
                    Ahora puedes comenzar a usar nuestros servicios,<br>
                    lo unico que tiene que hacer es ingresar a nuestra<br>
                    página, iniciar sesión y podrás disfrutar de muchos<br> 
                    beneficios<br>
                    
                    <strong>----Equipo de Desarollo By Choco Shop----</strong><br>
                    <strong>~Da un toque autentico a tu estilo~</strong> 

                </p>
         </div>
    </body>
    
</html>