<header class="bg-dark py-5">
    <div class="px-4 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Carrito de Compras</h1>
        </div>
    </div>
</header>
<div class="container pt-4">
    <div class="row">
        <div class="col">
            <div class="row mb-2">
                <div class="col-4 text-center">
                    <img class="img-fluid rounded"
                        src="" alt="Producto"/>
                </div>
                <div class="col-6 border border-light border-3">
                    <h3> Nombre Articulo</h3>
                    <div class="contenedores-datos">
                        <p class="clave me-2">Precio: </p>
                        <p>Dato</p>
                    </div>
                    <div class="contenedores-datos">
                        <p class="clave me-2">Entrega: </p>
                        <p>Dato</p>
                    </div>
                    <div class="contenedores-datos align-items-center">
                        <p class="clave me-2 mb-0">Cantidad</p>
                        <input class="input-cantidad col-5" type="number" name="cant" placeholder="1">
                    </div>
                    <div class="text-center mt-3">
                        <button class="text-center btn btn-danger btn-sm">Eliminar producto</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <h3>Subtotal</h3>
            <div class="contenedores-datos">
                <h5 class="clave me-2">Cantidad Productos:</h5>
                <p>Dato</p>
            </div>
            <div class="contenedores-datos">
                <h6 class="clave me-2">Valor:</h6>
                <p>$ Valor</p>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-outline-dark">Realizar Pago</button>
            </div>
        </div>
    </div>
</div>