<div>
    <div>
        <h1>Agregar/Modificar Producto</h1>
    </div>
    <div class="">
        <form [formGroup]="product_form" #formRef="ngForm" class="form-card col-10 m-5" (ngSubmit)="enviar()">
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="form-control-label px-3" for="nombre">
                        Nombre
                        <span class="text-danger"> *</span>
                    </label> 
                    <input type="text" formControlName="nombre" name="nombre" placeholder="Nombre"> 
                </div>
                <div class="form-group col-sm-6 flex-column d-flex"> 
                    <label class="form-control-label px-3" for="categoria">
                        Categoria
                        <span class="text-danger"> *</span>
                    </label> 
                    <select formControlName="categoria" name="categoria" >
                        <option value="prueba"></option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex"> 
                    <label class="form-control-label px-3" for="precio">
                        precio
                        <span class="text-danger"> *</span>
                    </label> 
                    <input type="text" formControlName="precio" name="precio" placeholder="precio" > 
                </div>
                <div class="form-group col-sm-6 flex-column d-flex"> 
                    <label class="form-control-label px-3" for="promocion">
                        promocion
                        <span class="text-danger"> *</span>
                    </label> 
                    <input type="text" formControlName="promocion" name="promocion" placeholder="promocion"> 
                </div>
            </div>

            <div class="row justify-content-between text-left">
                <div class="form-group col-12 flex-column d-flex"> 
                    <label class="form-control-label px-3" for="url_img">
                        url de la imagen
                        <span class="text-danger"> *</span>
                    </label> 
                    <input type="url" formControlName="image_url" name="url_img" placeholder="url"> 
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="form-group col-sm-6"> 
                    <button type="submit" class="btn-block btn-primary">
                        Enviar
                    </button> 
                </div>
            </div>
        </form>
    </div>
</div>