<div id="container" class="my-5">
    <form id="reporte" name="reporte">
        <h1 align='center' class="display-4 fw-bolder">Reportes</h1>
        <div id="tabla">
            <table class="sheet" align="center">
                <tbody id="tablareporte">
                    <tr>
                        <td class="sheetheader" colspan="2">Criterios de búsqueda para el informe</td>
                    </tr>
                    <tr>
                        <td><label for="fechIniciho">Fecha inicio:</label></td>
                        <td><input type="date" id="fechaInicio" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="fechaFin">Fecha Fin:</label></td>
                        <td><input type="date" id="fechaFin" style="width:150px">
                        </td>
                    </tr>

                </tbody>
                <tbody>

                </tbody>
            </table>
        </div>
        <br>
        <div id="boton">
            <button type="button" id="Aceptar" class="btn btn-outline-dark btn-block">
                Aceptar
            </button>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Campo 1</th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Campo 4</th>
                </tr>
            </thead>
            <tbody id="reportes">
            </tbody>
        </table>
    </form>

</div>