<header class="bg-dark py-5" style="background:black">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Blog Joyeria</h1>
            <p class="lead fw-normal text-white-50 mb-0">Aquí podrás encontrar curiosidades, consejos y muchas cosas
                más. Si buscas más información sobre nuestros productos, este es el lugar correcto.</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor='let blog of blogs'>
                <div #id id="{{blog.id}}" class="blog card h-100" (click)="obtenerId(id)">
                    <img class="card-img-top" src="{{blog.img_portada}}" alt="producto" />
                    <div class="card-body p-4">
                        <div class="d-flex flex-column">
                            <h5 class="fw-bolder text-center">{{blog.titulo}}</h5>
                            <span>Autor: {{blog.autor}}</span>
                            <span> {{blog.descripcion}}</span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>